

#about-picture {
    width: 500px;
    display:flex;
    padding:0;
    margin:0 !important;
}

@font-face {
    font-family: Gravity-Regular;
    src: url(../fonts/Gravity-Regular.otf);
}

#background-wrapper {
    background-color: #191919;
}

.fade-in {
    animation: fadeIn ease 2s;
}
.fade-in-delay {
    animation: fadeIn ease 3s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



#main-div {
    overflow:hidden;
}

#main-div > p {
    font-size: 16px;
    font-family: Gravity-Regular;
    font-weight:100;
    color:white;
}

h4 {
    font-family: Gravity-Regular;
    color:white;
}

#Software {
    font-family: Gravity-Regular;
    color: black;
}

#UrlLink{
    color:black;
}


