@page "/The-Archive"
@using Contentful.Core;

@using Microsoft.Extensions.Configuration;
@using Models
@using portfolio.Services

@inject IContentfulService contentfulService

<title>The Archive</title>

<body>

    <div class="wrapper">
        <Navbar />
        <section id="newest-record">
            <div class="container" id="landing-image">
                <div class="row">
                    <div class="col-lg-4 offset-md-4 text-center text-justify" id="main-col">
                        <h1 id="latest-record">WALLS OF JERUSALEM </h1>
                        <button class="btn btn-light " id="see-more">SEE MORE</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="records">
            <div class="container">
                <h1 class="pt-4 mb-4" id="record-header">LATEST RECORDS</h1>
                <div class="row align-items-center">
                    @foreach (var records in Records)
                    {
                        <div class="col-md-3 offset-md-1">
                            <div class="card mb-4" style="width: 22rem;" id="main-card">
                                <img class="card-img-top" src="@records.Image.File.Url">

                                <div class="card-body text-center">
                                    <h5 class="card-title text-center text-uppercase" id="card-title">@records.Title</h5>
                                    <p class="card-text text-white pl-3 pr-3 text-left">@records.Description</p>
                                    <button class="btn" id="read-more">
                                        READ
                                        MORE
                                    </button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section>
        <Footer />
    </div>
</body>

@code {
    public IEnumerable<Thumbnails> Records = new List<Thumbnails>();

    protected override async Task OnInitializedAsync()
    {
        Records = await contentfulService.GetAssets();
    }


}