@page "/"

<PageTitle>James Ide</PageTitle>
<body>
    <div class="wrapper" id="wrapper" style="padding:50px;">
        <header>
            <h2>James Ide</h2>
            <hr>
            <p class="about">
                About Me
            </p>
            <p class="para-intro">
                An information technology student <br> from Adelaide. I aim to
                deepen my understanding
                in
                various areas of
                software
                and web development.
            </p>
            <!-- <a href = "https://www.google.com">Google!</a> -->
            <ul id="">
                <li><a href="Resume">Information <strong>Resume</strong></a></li>
                <li><a href="https://github.com/JamesIde" target="_#">Projects <strong>GitHub</strong></a></li>
                <li><a href="the-archive">Interests <strong>The Archive</strong></a></li>
            </ul>
            <img src="images/james-cropped-shortpixel.png" id="profile-picture">
        </header>
        <!-- End of header -->
        <section id="section-toggler">
            <h3>Education</h3>

            <p class="para-intro">
                Bachelor of Information Technology, Networks and
                Cybersecurity
                Systems Flinders University, Bedford Park<br>GPA: 6.38/7
            </p>

            <h3>Projects</h3>
            <section id="projects">
                <div class="container">
                    <div class="projects-header-div">
                        <div class="intro-header-project">
                        </div>
                        <div class="row">
                            <div>

                                <div class="card mb-3 mt-2">
                                    <img class="card-img-top" src="images/hiddenvilla.PNG" alt="">
                                    <div class="card-body">
                                        <h4 class="card-title">Hidden Villa</h4>
                                        <ul class="tags text-white">
                                            <li><a class="tag">Blazor WASM/Server</a></li>
                                            <li><a class="tag">ASP.NET</a></li>
                                            <li><a class="tag">.NET 5 API</a></li>
                                            <li><a class="tag">C#</a></li>
                                        </ul>
                                        <hr>
                                        <p class="card-text">
                                            A resort booking system using Blazor Server, Blazor WASM with a .NET API.
                                            EF Core (DBContext), Migrations, DTO and SQL server used for
                                            data access with repository and dependency injection design patterns.

                                        </p>
                                        <a class="btn btn-outline-primary btn-primary mr-auto mt-1"
                                           href="https://knotleni.sirv.com/Hidden%20Villa%20Demonstration%20Part%201.gif"
                                           target="_blank">Demo 1</a>
                                        <a class="btn btn-outline-primary btn-primary mr-auto mt-1"
                                           href="https://knotleni.sirv.com/Hidden%20Villa%20Demonstration%20Part%202.gif"
                                           target="_blank">Demo 2</a>
                                        <a class="btn btn-outline-primary btn-primary mt-1" href="https://github.com/JamesIde/HiddenVilla"
                                           target="_blank">Github</a>
                                        <a class="btn btn-outline-primary btn-primary mr-auto  disabled mt-1"
                                           href="https://github.com/JamesIde/HiddenVilla" target="_blank">
                                            Azure deployment
                                            coming soon
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card mb-2">
                                    <img class="card-img-top" src="images/youtube-trender.PNG" alt="">
                                    <div class="card-body">
                                        <h4 class="card-title">Youtube Trender</h4>
                                        <ul class="tags text-white">
                                            <li><a class="tag">Java</a></li>
                                        </ul>
                                        <hr>
                                        <p class="card-text">
                                            Interactive Java application that parses JSON metadata about trending videos.
                                            Searches, sorts and indexes indexes the data for trending words using maps, lists
                                            and
                                            comparators.
                                        </p>
                                        <a class="btn btn-outline-primary btn-primary mr-auto mt-auto"
                                           href="https://github.com/JamesIde/youtube_trender" target="_blank">Github</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card mb-2">
                                    <img class="card-img-top" src="images/danbrews.png" alt="">
                                    <div class="card-body">
                                        <h4 class="card-title ">Dan An-Brews</h4>
                                        <ul class="tags text-white">
                                            <li><a class="tag">PHP</a></li>
                                            <li><a class="tag">SQL</a></li>
                                            <li><a class="tag">HTML</a></li>
                                            <li><a class="tag">CSS</a></li>
                                        </ul>
                                        <hr>
                                        <p class="card-text">
                                            E-commerce website focussing on HTML and CSS for front-end with PHP
                                            and
                                            SQL
                                            for back-end functionalities. The project focusses on data sanitisation and
                                            validation
                                            using
                                            relevant PHP functions.
                                        </p>
                                        <a class="btn btn-outline-primary btn-primary  mr-auto mt-auto "
                                           href="https://github.com/JamesIde/dan_anbrews" target="_blank">Github</a>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="card mb-2">
                                    <img class="card-img-top" src="images/lux.PNG" alt="">
                                    <div class="card-body">
                                        <h4 class="card-title">LUX</h4>
                                        <ul class="tags text-white">
                                            <li><a class="tag">HTML</a></li>
                                            <li><a class="tag">CSS</a></li>
                                            <li><a class="tag">Bootstrap</a></li>
                                        </ul>
                                        <hr>
                                        <p class="card-text">
                                            Mockup website to test my design skills. Created using Bootstrap
                                            and
                                            experimented with Slick Carousel, Lightbox and some Javascript for the video modal.
                                        </p>
                                        <a class="btn btn-outline-primary btn-primary mr-auto mt-auto "
                                           href="https://thirsty-kowalevski-1c67cd.netlify.app/" target="_blank">Live</a>
                                        <a class="btn btn-outline-primary btn-primary  mr-auto mt-auto "
                                           href="https://github.com/JamesIde/LUX" target="_blank">Github</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <footer class="pb-3">
            <hr>
            <ul id="footer-ul">
                <a href="https://www.linkedin.com/in/james-ide-a92368180/" class="icon-link" target="_blank">
                    <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/JamesIde" class="icon-link" target="_blank">
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                </a>
                <a href="mailto:james.ide775@gmail.com" class="icon-link">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                </a>
            </ul>

            <p>
                <small>Hosted on Netlify &mdash; James Ide, 2022</small>
            </p>
        </footer>
    </div>
</body>



@code {
}