<section id = "navbar-intro">
            <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
                <a class="navbar-brand" href="/The-Archive" id="archive-title">THE ARCHIVE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto" id="navbar-elements">

                        <li class="nav-item" id="archive-navbar-elements">
                            <a class="nav-link" href="/The-Archive">HOME</a>
                        </li>

                       @* <li class="nav-item" id="archive-navbar-elements">
                            <a class="nav-link" href="/The-Archive"> RECORDS</a>
                        </li>*@
                        <li class="nav-item" id="archive-navbar-elements">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#mymodal"> ABOUT</a>
                        </li>
                    </ul>
                    <div class="modal" id="mymodal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h5 class="modal-title" id="card-text" style="font-size:1.5rem;">
                                        What is The Archive?
                                    </h5>
                                    <button class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body" id="card-text">
                                    A collection of digital records documenting my experiences and interests in hiking,
                                    camping and photography. A set of information stored away for the future self to look
                                    back and reflect upon.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </section>