#navbar-elements {
    padding-right: 220px;
}
#archive-title {
    color: white;
    font-size: 33.6px;
    font-family: "Museo", serif;
    line-height: 33.6px;
    padding-left: 100px;
}

#archive-navbar-elements > a {
    color: white;
    font-family: "Museo", serif;
    line-height: 33.6px;
}

#navbar-intro {
    background-color: black;
}



@media only screen and (max-width: 600px) {
    #archive-title{
        padding-left:0px;
    }
}